<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password Reset Link:</h1>
    <p>
      <%= link_to "Click here to reset your password.", reset_user_url(@token) %>
    </p>
  </body>
</html>