<main class="text-center">
  <h1 class="m-3 bland-h1">Edit Your Roster</h1>
  <hr />
  <%= form_tag lineup_path(@lineup), action: 'update', method: 'PUT', class: 'd-inline-block w-100' do %>
    <% @lineup.players.each do |player| %>
      <%= render "dial", lineup: @lineup, player: player, checker: player.status %>
    <% end %>
    <br />
    <%= submit_tag "Update", class: "btn btn-primary btn-lg" %>
  <% end %>
  <hr />
</main>