default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  adapter: postgresql
  encoding: unicode
  database: sml_development
  host: localhost
  pool: 5
  user: root
  password: FakePassword

test:
  adapter: postgresql
  encoding: unicode
  database: sml_test
  host: localhost
  pool: 5
  password: FakePassword

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
