/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import "bootstrap";

 .navbar-nav > *:not(div)  {
  padding-left: 25px;
  padding-right: 25px;
}

.btn-primary {
  background: #2914A1;
  border: #2914A1;
  outline: #2914A1;
}

.btn-default {
  background: #f9E55B;
  color: #544C16;
  border: .5px solid rgba(0, 0, 0, .3);
}

.btn-default:hover {
  background: #F7E8AA;
  opacity: .8;
}

.btn-default:active {
  background: #f9E55B;
  opacity: .9;
}

a.navbar-brand {
  color: #1F1C08 !important;
}

nav.navbar.navbar-expand-lg, footer {
  background: #f9E55B !important;
  border: .5px solid rgba(0, 0, 0, .3);
}

.comparison {
  color: SlateGrey;
}

#comparison-board, article {
  border-bottom: .2px solid SlateGrey;
  border-top: .2px solid SlateGrey;
}

.blink a {
  color: rgba(142, 189, 240, 1);
}

body {
  background: rgba(255, 250, 221, .1);
}

aside {
  display: inline-block;
}

aside.flexed {
  font-size: smaller;
}

figure {
  display: inline-block !important;
  float: left;
  vertical-align: top;
}

figcaption {
  clear: left !important;
  text-align: center;
}

.fig-idx {
  margin-left: -.8rem;
}

.img-idx {
  margin-left: -.7rem;
}

#inner-board {
  width: 80%;
  margin: 0 auto;
  padding: 0 4rem;
}

#dl-opp, #dl-home {
  vertical-align: top;
}

#dl-home {
  margin-right: 2rem;
  margin-left: 1rem;
}

#dl-opp {
  margin-left: 3rem;
}

#opponent, #home-team {
  margin: 0 10%;
}

article.player-idx, article.player-show {
  border: .2px solid SlateGrey;
  margin: .4rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #E0E0E0;
  background: #FFF0B0;
}

article.player-show {
  padding-bottom: 0 !important;
}

article.idx-fixed {
  width: 25rem;
}

article.player-idx-2  {
  padding: .6rem 1.3rem;
}

figure.edit-figure {
  float: none !important;
}

figure img {
  border-radius: 12px;
}

figure img.small {
  width: 200px;
  max-height: 180px;
  border-radius: 25%;
  padding-top: 1rem;
}

.head-show {
  background: rgba(31, 32, 255, .88);
  color: white;
  text-shadow: -1px 0 #222222, 0 1px #222222, 1px 0 #222222, 0 -1px #222222;
}

.plyr-del, .lineup-del {
    opacity: 0.5;
}

.plyr-del {
  line-height: 1.1;
  font-size: 20px;
  vertical-align: top;
}

#searchbar {
  margin-left: 12%;
  border-radius: 2rem;
  outline: none;
  text-indent: .2rem;
}

.plyr-del:hover, .plyr-del:active, .lineup-del:hover, .lineup-del:active {
  opacity: .98;
}

.ed-nm {
  vertical-align: middle;
}

.btn-idx {
  box-shadow: 2px 2px 2px #E0E0E0;
}

.bland-h1 {
  text-shadow: -.8px 0 rgba(142, 189, 240, .2), 0 .8px rgba(142, 189, 240, .2), .8px 0 rgba(142, 189, 240, .2), 0 -.8px rgba(142, 189, 240, .2);
  opacity: .98;
}

hr {
  background: rgba(142, 189, 240, .2)
}

#comparison-main {
  background: black;
}

.roster-figure {
  float: none;
  clear: none;
  display: block !important;
}

.dl-lineup-idx {
  vertical-align: top !important;
}

.plink {
  color: #2914A1;
}

.idx-select {
  border-radius: 4px;
  padding: .1rem;
  margin-left: -.1rem;
  vertical-align: middle;
  border: .5px solid rgba(142, 189, 240, .2);
  max-width: 6rem;
}

.flex-dl  {
  margin-left: .1rem;
}

.del-comp {
  position: absolute;
  right: .5rem;
  font-size: 34px;
  margin-top: -1.5rem;
}

.lineup-del {
  float: right;
  width: 1rem;
  height: 1rem;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
}

.ply-main {
  width: 96%;
  margin: 0 auto;
  padding-left: 2rem;
}

#home-logo {
  opacity: .6;
  width: 100%;
  z-index: -1;
}

body {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}

footer {
  clear: both;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.jumbotron {
  margin-bottom: .15rem;
}

#body {
  padding-bottom: 4rem;
}

.jackal {
  vertical-align: middle;
  padding-left: 1.5rem;
  font-size: x-large;
}

.footer-copyright {
  font-size: larger;
}

.line-idx {
  max-width: 18rem;
  overflow-wrap: break-word;
}

#positions label {
  vertical-align: middle;
}

#positions * {
  margin: 0 .05rem;
  vertical-align: middle;
}

#choose-tname {
  outline: none;
  border: none;
  font-size: x-large;
}

.choose-ltype {
  font-size: x-large;
  font-weight: 300;
  vertical-align: -.225rem;
}

#new-choices input[type=radio], #matchup-choose input[type=radio] {
  transform:scale(1.25);
  vertical-align: middle;
  margin: 0 .4rem;
}

.aqua {
  background: #CCECF0;
}
